/* form protection */
.responder-form-wrapper {
	margin: 0px !important;
	padding: 0px !important;
}

.responder-rtl {
	direction: rtl;
	text-align: right;
}

.responder-form-main-wrapper
	.elementor-mark-required
	.elementor-field-label::after {
	padding: 0 0.2em;
}

.responder-form-main-wrapper .responder-message-error {
	color: red;
	padding-top: 3px;
	font-size: 0.7em;
	padding-bottom: 10px;
}

.responder-form-main-wrapper .responder-message-form-error {
	color: red;
	display: none;
	font-size: 0.7em;
	padding-top: 10px;
}

.responder-form-main-wrapper .responder-message-sent {
	display: none;
}

.responder-form-main-wrapper > label,
.responder-form-main-wrapper .checkboxes label {
	cursor: default;
	float: none !important;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0px;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.responder-form-main-wrapper > label {
	display: block;
	line-height: 1.5em;
}

.responder-form-main-wrapper .checkboxes label {
	margin-left: 3px;
	vertical-align: top;
}

.responder-form-hor label {
	display: inline-block;
}

.responder-form-main-wrapper .res-button-submit,
.responder-form-main-wrapper .res-button-submit:hover,
.responder-form-main-wrapper .res-button-submit:focus,
.responder-form-main-wrapper .res-button-submit:visited {
	-webkit-box-shadow: none !important;
	background-color: #61ce70;
	border-color: #34a844;
	border-radius: 4px;
	border-style: none;
	border-width: 1px;
	box-shadow: none !important;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-size: 14px;
	font-weight: 400;
	line-height: 34px;
	margin: 0px;
	min-height: 10px !important;
	padding: 0px;
	text-shadow: none !important;
	text-transform: none !important;
	transition: background 0.2s ease 0s;
	width: 100%;
}

.responder-rtl .res-button-submit {
	direction: rtl;
}

.responder-form-main-wrapper.responder-form-vert .res-button-submit {
	margin-top: 5px;
}

.responder-form-main-wrapper .res-button-submit:hover {
	background-color: #3abc4c;
}

.responder-form-main-wrapper.responder-form-hor .fields-wrapper {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.responder-form-main-wrapper.responder-form-hor
	.fields-wrapper
	.res-form-field {
	flex-shrink: 0;
	flex-grow: 1;
	flex-basis: 0;
}

@media (max-width: 480px) {
	.responder-form-main-wrapper.responder-form-hor .fields-wrapper {
		flex-direction: column;
	}

	.responder-form-main-wrapper.responder-form-hor
		.fields-wrapper
		.res-form-field {
		width: 100%;
	}

	.responder-form-main-wrapper.responder-form-hor
		.fields-wrapper
		.res-form-field-submit {
		margin-top: 20px;
	}
}

.responder-form-main-wrapper .res-form-field textarea,
.responder-form-main-wrapper .res-form-field textarea:hover,
.responder-form-main-wrapper .res-form-field textarea.is-focused,
.responder-form-main-wrapper .res-form-field select,
.responder-form-main-wrapper .res-form-field select:hover,
.responder-form-main-wrapper .res-form-field select.is-focused,
.responder-form-main-wrapper .res-form-field input[type="tel"],
.responder-form-main-wrapper .res-form-field input[type="tel"]:hover,
.responder-form-main-wrapper .res-form-field input[type="tel"].is-focused,
.responder-form-main-wrapper .res-form-field input[type="number"],
.responder-form-main-wrapper .res-form-field input[type="number"]:hover,
.responder-form-main-wrapper .res-form-field input[type="number"].is-focused,
.responder-form-main-wrapper .res-form-field input[type="email"],
.responder-form-main-wrapper .res-form-field input[type="email"]:hover,
.responder-form-main-wrapper .res-form-field input[type="email"].is-focused,
.responder-form-main-wrapper .res-form-field input[type="text"],
.responder-form-main-wrapper .res-form-field input[type="text"]:hover,
.responder-form-main-wrapper .res-form-field input[type="text"].is-focused {
	background-image: none !important;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	float: none !important;
	font-size: 14px;
	line-height: 1.5em;
	margin-bottom: 0px;
	min-height: 20px !important;
	outline: none;
	padding: 5px;
	width: 100%;
}

.responder-form-main-wrapper .res-form-field textarea.error,
.responder-form-main-wrapper .res-form-field select.error,
.responder-form-main-wrapper .res-form-field input.error {
	border-color: red;
}

.responder-form-main-wrapper.responder-form-vert .res-form-field {
	width: 100%;
}
