 
.hamburger{
    position: relative;
    z-index: 99999;
}
#rightsection {
display: none;
position: fixed;
top: 0;
left: 0;
animation: moveOute 3.3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
width: 100vw;
}

@keyframes moveOute {
0% {
transform: translateX(100%);
}
49% {
transform: translateX(0);
}
94% {
transform: translateX(0);
}
100% {
transform: translateX(0);
}
}

.textbackground {
display: none;
position: fixed;
top: 0;
left: 100%;
height: 100%;
width: 100%;
text-align: center;
background-color: #fff;
z-index: 999;
animation: moveOut 3.3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.curtain {
position: fixed;
top: 0;
left: 100%;
height: 100%;
width: 100%;
text-align: center;
background-color: #F3C052;
z-index: 999;
animation: movesOut 3.3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.textbackgrounds {
opacity: 0;
position: fixed;
top: 0;
left: 100%;
height: 100%;
width: 100%;
text-align: center;
background-color: #fff;
z-index: 999;
animation: moveOut 3.3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.curtains {
position: fixed;
top: 0;
left: 100%;
height: 100%;
width: 100%;
text-align: center;
background-color: #F3C052;
z-index: 999;
animation: movesOut 3.3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@keyframes moveOut {
0% {
transform: translateX(0);
}
33% {
transform: translateX(-200%);
}
59% {
transform: translateX(-200%);
}
59.6% {
transform: scaleY(.005) scaleX(0);
}
100% {
transform: scaleY(.005) scaleX(0);
}
}

@keyframes movesOut {
0% {
transform: translateX(0);
}
33% {
transform: translateX(0);
}
59% {
transform: translateX(200%);
}
59.6% {
transform: scaleY(.005) scaleX(0);
}
100% {
transform: scaleY(.005) scaleX(0);
}
}

