.elementor-kit-9673{--e-global-color-primary:#212224;--e-global-color-secondary:#54595F;--e-global-color-text:#000000;--e-global-color-accent:#F3C052;--e-global-color-54d6f101:#80CAD6;--e-global-color-7f8312aa:#7A7A7A;--e-global-color-123f0643:#23A455;--e-global-color-c838d90:#000;--e-global-color-6609060e:#FFF;--e-global-color-33d69d4:#212224;--e-global-color-69b37e0:#F9CD46;--e-global-color-36e2e20:#E9E9E9;--e-global-color-079bc2d:#FFFFFF;--e-global-color-f0409db:#8D008D;--e-global-color-79d00aa:#22ABC8;--e-global-color-551ec05:#F3C05200;--e-global-typography-primary-font-family:"Anomalia";--e-global-typography-primary-font-weight:bold;--e-global-typography-secondary-font-family:"Anomalia";--e-global-typography-secondary-font-weight:600;--e-global-typography-text-font-family:"Anomalia";--e-global-typography-text-font-size:17px;--e-global-typography-text-font-weight:normal;--e-global-typography-accent-font-family:"Anomalia";--e-global-typography-accent-font-weight:bold;--e-global-typography-2f65b2c-font-family:"Anomalia";--e-global-typography-2f65b2c-font-size:35px;--e-global-typography-69bb92a-font-family:"Anomalia";--e-global-typography-69bb92a-font-size:48px;--e-global-typography-69bb92a-line-height:0.8em;--e-global-typography-69bb92a-letter-spacing:1px;--e-global-typography-951a772-font-family:"Anomalia";--e-global-typography-951a772-font-size:29px;--e-global-typography-951a772-font-weight:normal;--e-global-typography-951a772-line-height:1.1em;--e-global-typography-4aababf-font-family:"Anomalia";--e-global-typography-4aababf-font-size:24px;--e-global-typography-4aababf-font-weight:bold;--e-global-typography-03d612f-font-family:"Anomalia";--e-global-typography-03d612f-font-size:35px;--e-global-typography-03d612f-font-weight:normal;--e-global-typography-af50a56-font-family:"Anomalia";--e-global-typography-af50a56-font-size:27px;--e-global-typography-af50a56-font-weight:bold;--e-global-typography-04a6833-font-family:"Anomalia";--e-global-typography-04a6833-font-size:22px;--e-global-typography-04a6833-font-weight:500;--e-global-typography-5a6e74e-font-family:"Anomalia";--e-global-typography-5a6e74e-font-weight:normal;--e-global-typography-ce83f4b-font-family:"Anomalia";--e-global-typography-ce83f4b-font-size:20px;--e-global-typography-ce83f4b-font-weight:normal;--e-global-typography-ce83f4b-line-height:1.3em;--e-global-typography-127bdd7-font-family:"Anomalia";--e-global-typography-127bdd7-font-size:24px;--e-global-typography-127bdd7-font-weight:normal;--e-global-typography-127bdd7-letter-spacing:0.5px;--e-global-typography-e906feb-font-family:"Anomalia";--e-global-typography-e906feb-font-size:18px;--e-global-typography-e906feb-font-weight:600;--e-global-typography-e906feb-line-height:1em;--e-global-typography-c9a7542-font-family:"Anomalia";--e-global-typography-c9a7542-font-size:18px;--e-global-typography-c9a7542-font-weight:300;--e-global-typography-c9a7542-line-height:1em;--e-global-typography-9116715-font-family:"Anomalia";--e-global-typography-9116715-font-size:15px;--e-global-typography-9116715-font-weight:300;--e-global-typography-9116715-line-height:1.2em;--e-global-typography-1f787f0-font-family:"Anomalia";--e-global-typography-1f787f0-font-size:20px;--e-global-typography-1f787f0-font-weight:bold;--e-global-typography-b672ae1-font-family:"Anomalia";--e-global-typography-b672ae1-font-size:15px;--e-global-typography-b672ae1-font-weight:300;--e-global-typography-b672ae1-line-height:1.2em;--e-global-typography-9b4a378-font-family:"Anomalia";--e-global-typography-9b4a378-font-size:54px;--e-global-typography-9b4a378-font-weight:bold;--e-global-typography-9b4a378-line-height:1.2em;--e-global-typography-d44a458-font-family:"Anomalia";--e-global-typography-d44a458-font-size:25px;--e-global-typography-d44a458-font-weight:normal;--e-global-typography-d44a458-line-height:1.2em;--e-global-typography-fd7bee3-font-family:"Anomalia";--e-global-typography-fd7bee3-font-size:54px;--e-global-typography-fd7bee3-font-weight:bold;--e-global-typography-fd7bee3-line-height:1.2em;--e-global-typography-62817ed-font-family:"Anomalia";--e-global-typography-62817ed-font-size:45px;--e-global-typography-62817ed-font-weight:bold;--e-global-typography-62817ed-line-height:1.1em;--e-global-typography-c15befe-font-family:"Anomalia";--e-global-typography-c15befe-font-size:17px;--e-global-typography-c15befe-font-weight:normal;--e-global-typography-024b716-font-family:"Anomalia";--e-global-typography-024b716-font-size:22px;--e-global-typography-024b716-font-weight:300;--e-global-typography-7365e77-font-family:"Anomalia";--e-global-typography-7365e77-font-size:22px;--e-global-typography-7365e77-font-weight:300;font-family:"Anomalia", Sans-serif;font-size:18px;}.elementor-kit-9673 e-page-transition{background-color:#FFBC7D;}.elementor-kit-9673 a{color:var( --e-global-color-accent );}.elementor-kit-9673 button,.elementor-kit-9673 input[type="button"],.elementor-kit-9673 input[type="submit"],.elementor-kit-9673 .elementor-button{font-family:"Rubik", Sans-serif;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1570px;}.e-con{--container-max-width:1570px;}.elementor-widget:not(:last-child){--kit-widget-spacing:0px;}.elementor-element{--widgets-spacing:0px 0px;--widgets-spacing-row:0px;--widgets-spacing-column:0px;}{}h1.entry-title{display:var(--page-title-display);}@media(max-width:1366px){.elementor-kit-9673{--e-global-typography-62817ed-font-size:45px;--e-global-typography-c15befe-font-size:15px;}}@media(max-width:1024px){.elementor-kit-9673{--e-global-typography-69bb92a-font-size:50px;--e-global-typography-951a772-font-size:20px;--e-global-typography-04a6833-font-size:18px;--e-global-typography-5a6e74e-font-size:15px;--e-global-typography-024b716-font-size:18px;--e-global-typography-7365e77-font-size:18px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-9673{--e-global-typography-2f65b2c-font-size:47px;--e-global-typography-69bb92a-font-size:27px;--e-global-typography-69bb92a-line-height:0.9em;--e-global-typography-69bb92a-letter-spacing:0px;--e-global-typography-951a772-font-size:20px;--e-global-typography-951a772-line-height:0.8em;--e-global-typography-af50a56-font-size:26px;--e-global-typography-ce83f4b-font-size:16px;--e-global-typography-127bdd7-font-size:19px;--e-global-typography-e906feb-font-size:17px;--e-global-typography-c9a7542-font-size:16px;--e-global-typography-9116715-font-size:14px;--e-global-typography-9116715-line-height:1.2em;--e-global-typography-1f787f0-font-size:22px;--e-global-typography-b672ae1-font-size:12px;--e-global-typography-b672ae1-line-height:1.2em;--e-global-typography-9b4a378-font-size:28px;--e-global-typography-d44a458-font-size:16px;--e-global-typography-fd7bee3-font-size:25px;--e-global-typography-62817ed-font-size:25px;--e-global-typography-7365e77-font-size:15px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS */p, h1, h2, h3, h4  {
    -webkit-font-smoothing: antialiased !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F3C052;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

p a {
    color: var( --e-global-color-accent ) !important;
}


.elementor-kit-9673 .wp-faq-schema-accordion p {
      font-family: var( --e-global-typography-ce83f4b-font-family ), Sans-serif !important;
    font-size: var( --e-global-typography-ce83f4b-font-size );
    font-weight: var( --e-global-typography-ce83f4b-font-weight );
    line-height: var( --e-global-typography-ce83f4b-line-height );
    max-width: 667px;
}

.elementor-kit-9673 .wp-faq-schema-accordion h3 {
        font-size: 28px;
    font-weight: 600;
 font-family: var( --e-global-typography-ce83f4b-font-family ), Sans-serif !important;
}

.elementor-kit-9673 .wp-faq-schema-accordion .ui-state-default {

    background: transparent;
  ;
}

.elementor-portfolio-item__title {
    font-family: "Anomalia" !important;
    font-size: 16px;
    font-weight: 300;
}

@media (max-width: 767px) {
.elementor-portfolio-item__title {
    font-family: "Anomalia" !important;
    font-size: 14px;
}
}


@media (max-width: 767px) {
body.trigger-position-left #enable-toolbar-trigger, body.trigger-position-right #enable-toolbar-trigger {
    transform: translateY(-323%) scale(1.3) !important;
}
}

body * {
    font-family: "Anomalia" !important;
}

.button-preset span.elementor-button-icon {
background-color: white;
border-radius: 50px;
padding: 4px;
display: flex;
}

.button-preset .elementor-button .elementor-button-text {
    align-content: center;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Anomalia';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://www.gnss.co.il/wp-content/uploads/2024/08/anomalia-regular-aaa.woff2') format('woff2');
}
@font-face {
	font-family: 'Anomalia';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('https://www.gnss.co.il/wp-content/uploads/2024/08/anomalia-light-aaa.woff2') format('woff2');
}
@font-face {
	font-family: 'Anomalia';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('https://www.gnss.co.il/wp-content/uploads/2024/08/anomalia-bold-aaa.woff2') format('woff2');
}
/* End Custom Fonts CSS */